#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: var(--primary-color);
}

input {
	margin: 1em;
	background-color: var(--input-color);
	font-size: 20px;
  font-family: monospace;
}

.output {
	display: flex;
}

.output input {
	flex: 1;
	margin: 0;
	outline: none;
	border: 0;
	padding-left: 1em;
}
.output button {
	background-color: var(--primary-color);
	border: 8px solid var(--input-color);
}

form {
	text-align: start;
	margin: 1em 6px 2em;
}

select {
	height: 2em;
	margin-block: auto;
	border: 0;
	background-color: var(--input-color);
}

div.checkbox {
	display: flex;
	justify-content: space-between;
	/* display: block; */
	position: relative;
	cursor: pointer;
}
label.checkbox {
	display: flex;
	justify-content: space-between;
	/* display: block; */
	position: relative;
	cursor: pointer;
	
}

input[type="checkbox"] {
	/* position: absolute; */
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	right: 0;
	height: 1em;
	width: 1em;
	background-color: var(--input-color);
	margin-top: 5px;
}

.checkbox input:checked ~ .checkmark {
	background-color: var(--secondary-color);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox input:checked ~ .checkmark:after {
	display: block;
}

.checkbox .checkmark:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

button.btn {
	margin: 1em 0;
	background-color: var(--secondary-color);
}
