#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

div.app {
  display: flex;
}

input {
	margin: 1em;
}
input[type="number"],
input[type="text"] {
	height: 3em;
	outline: none;
	border: 0;
	border-radius: 8px;
  padding-left: 1em;
}

button.btn.btn-danger{
  margin: 1em 0;
  background-color: brown;
}

hr {
  margin: 0 1em  0 5em;
}

form {
  text-align: start;
  margin-left: 8px;
}
